<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= @user.name%>さんの情報
      </h2>
      <% if user_signed_in? && current_user.id != @user.id %>
      <% if current_user.following?(@user) %>
  <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete,class: "follow" %>
<% else %>
  <%= link_to "フォローする", user_relationships_path(@user.id), method: :post,class: "follow" %>
<% end %>
<% end %>
<div class="follow_main">
<div class="follow_text">
<%= link_to @user.followings.count, user_followings_path(@user.id), method: :get %>
<div class="follow_count">
フォロー中
</div>
</div>
<div class="follow_text">
<%= link_to @user.followers.count, user_followers_path(@user.id), method: :get %>
<div class="follow_count">
フォロワー
</div>
</div>
</div>
          <div class="table__col2">投稿<%= @user.prototypes.count %></div>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">名前</th>
            <td class="table__col2"><%= @user.name %></td>
          </tr>
          <tr>
            <th class="table__col1">プロフィール</th>
            <td class="table__col2"><%= @user.profile %></td>
          </tr>
          <tr>
            <th class="table__col1">所属</th>
            <td class="table__col2"><%= @user.occupation %></td>
          </tr>
          <tr>
            <th class="table__col1">役職</th>
            <td class="table__col2"><%= @user.position %></td>
          </tr>
        </tbody>
      </table>
      <h2 class="page-heading">
        <%= @user.name%>さんのプロトタイプ
      </h2>
      <div class="user__card">
        <%# 部分テンプレートでそのユーザーが投稿したプロトタイプ投稿一覧を表示する %>
        <%= render partial: "prototypes/prototype", collection: @user.prototypes %> 
        
      </div>
    </div>
  </div>
</div>